
html{
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}  
  nav {
  margin-top: 15px;
  padding: 0;
  font-family: arial, sans-serif; color: #222; font-size: 13px;
}

.top-left {
  float: left;
}

  .top-left ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  }

  .top-left ul li {
  float: left;
  display: block;
  padding: 8px;
  }

.top-right {
  float: right;
}

  .top-right ul {
  list-style-type: none;
  margin: 0;
  padding-right: 15px;
  overflow: hidden;
  }

  .top-right ul li {
  float: left;
  display: block;
  padding: 8px;
  }

  .blue {
    background-color: #4285f4;
    border-color: #4285f4;
    outline: none;
    border-radius: 3px;
    color: #fff;
    padding: 3px 16px;
    font-weight: bold;
    cursor:pointer;
    }

.content {
  height: 400px;
  padding-top:141px;
  width: 70%; 
  margin: auto;  
  }

.form {
text-align: center;
margin-top: 23px;
}

#form-search { 
width: 450px;
height: 40px;
line-height: 32px;
padding: 20px 10px;
border-radius: 25px;
border-width: 1px;
margin-left: auto;
margin-right: auto;
overflow: auto;
line-height: 34px;
font-size: 16px;
}

.form #form-search {
padding: 0 8px;
}

#search-buttons {
  padding-top: 10px;
  width: 50%;
  margin: auto;
  list-style-type: none;
  
}

#search-buttons button { 
  padding: 5px 16px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  list-style-type: none;
  cursor:pointer;
}

.btm-left {
  float: left;
  }
    
      .btm-left ul {
      list-style-type: none;
      margin: 0;
      padding-left: 15px;
      overflow: hidden;
      }
    
      .btm-left ul li {
      float: left;
      display: block;
      padding: 8px;
      }
    
.btm-right {
  float: right;
  }
    
      .btm-right ul {
      list-style-type: none;
      margin: 0;
      padding-right: 15px;
      overflow: hidden;
      }
    
      .btm-right ul li {
      float: left;
      display: block;
      padding: 8px;
      }

footer {

width: 100%;
background:#f2f2f2;
line-height: 24px;
border-top: 1px solid#e4e4e4;
font-size: 10pt;
font-family: arial,sans-serif;
position: fixed;

bottom: 0; 
}

li a {
font-family: arial,sans-serif;
text-decoration: none;
font-size: 13px;
color: #5F6368;
}